<section style="margin: 20px">
  <h3>{{recipe.name}}</h3>
  <a href="../profile/{{recipe.user.id}}">
    <p>By: {{recipe.user.name}}</p>
  </a>
  <p>{{recipe.ingredients}}</p>
  <p>{{recipe.instructions}}</p>
  <div>
    <form class='form new-comment-form'>
      <textarea class="form-input w-100" id="comment"></textarea>
      <button type='button' class='btn btn-comment' id="comment-button" data-id="{{recipe.id}}">Post comment</button>
    </form>
  </div>
  <ul style="margin-top: 20px">
    Comments
    {{#each comments as |comment|}}
    <li>
      <p>{{comment.comment}} -- {{comment.user.name}}</p>
    </li>
    {{/each}}
  </ul>

</section>

<script src='/js/comments.js'></script>