<div class="row">
  <h3>My Recipes:</h3>
  {{#if recipes.length}}
  <div class="col-md-6 project-list">

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-lg-6 col-md-6 col-12">
        <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
    <div class="col-md-6 project-list">
      <p>No recipes added yet!</p>
      <a href="/create">Click here to add a new recipe!</a>
    </div>
  {{/if}}
  <div class="col-md-6">
    <section style="margin: 20px; width: 24rem" class=''>
      <div class='card-body'>
        {{!-- {{#if id = recipe.user_id}} --}}
        <h3>{{name}}</h3>
        <hr class="pb-2 mx-auto">
        {{!-- {{/if}} --}}
        <p>{{username}}</p>
        <p>{{bio}}</p>
      </div>
    </section>
    <p class="following-p">
      Following:
    </p>
    <ul>
      {{#each following as |follow|}}
      <li>
        <a href="/profile/{{follow.Following.id}}">{{follow.Following.name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>