{{!-- {{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>{{name}}'s Recipes:</h3>

    {{#each recipes as |recipe|}}
        <p>{{recipe.name}}</p>
        <p>{{recipe.ingredients}}</p>
        <p>{{recipe.instructions}}</p>
    {{/each}}

  </div>
{{/if}}

 --}}

  {{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>{{name}}'s Recipes: {{id}}</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<button type="button" data-id="{{id}}" id="follow-button">Follow me</button>

<script src="/js/profile.js"></script>